.board {
  display: flex;
  padding: 3% 0%; 
  vertical-align: top;
  flex: 2;
  height: 100%;
  background-image: url('../public/mesa_de_cartas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0% 5%;
}

.puntaje{
  display: flex;
  height: 50vh;
}

