.carta {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2%;
  transition: transform 0.2s ease; /* Transición de 0.2 segundos en la escala */
}
.carta:hover {
  transform: scale(1.1); /* Escala de 1.1 al posicionar el mouse sobre la carta */
}


.carta span {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.grayscale {
  filter: grayscale(100%);
}
